<h1>New Quote</h1>
  <div class="sign-in-form">
    <%= form_for [@task, @quote] do |f| %>
      <h3> <%= f.label :quote, "Enter Your Quote" %> </h3>
        <%= f.number_field :quote %>
        <%= f.submit "Submit Quote", class: "button" %>
    <% end %>
  </div>
