<div>
  <% if user_signed_in? %>
      <%= link_to "Create Task", new_task_path %>
      <% end %>
        <% if @tasks %>
          <% @tasks.each do |task| %>
          <%= task.name %>
          <%= link_to "Task Details",  task, class: "button"%>
        <% end %>
      <% end %>
  </div>
