<div class="row">
  <div class="small-10 columns small-centered">
    <br>
      <% if user_signed_in? %>
        <%= link_to "Create Task", new_task_path, class: "button" %>
    <div>
      <% end %>
<div id='tasks'>
</div>
