<div class="row">
  <div class="small-10 columns small-centered">
    <br>
    <% if user_signed_in? %>
      <%= link_to "Create Task", new_task_path, class: "button" %>
        <div>
          <% if @tasks %>
            <% @tasks.each do |task| %>
              Task:<%= task.name %><br />
              <%= link_to "Want the Job?", task_path(task) %><br />
            <% end %>
          <% end %>
        <% end %>
  </div>
