
<h3>Rating for <%= @user.username %></h3>
<h5>You can only review each user once, and current amount of stars signifies their current overall rating</h5>
<div class="row">
  <div class="small-10 columns small-centered">
    <div class="card">
    <div class="card-info">
    <h3 class="card-title">Rating  : <%= rating_for @user, 'rating', star: 10, disable_after_rate: true, imdb_avg: true, star_path: '/images/ratyrate' %><br /></h3>
    </div>
  </div>
  </div>
</div>
