  <div class="wrapper">
    <h3>DO YOU NEED HELP WITH AN EVERYDAY TASK? CCGIG CONNECTS NEIGHBORS WITH NEIGHBORS TO HELP
      EACH OTHER GET THE JOB DONE. <br /><%= link_to "ENTER", new_welcome_path %> </h3>
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
      <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
  
  </div>
