<ul class="menu menu-hover-lines">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Tasks</a></li>
  <li><a href="#">User Reviews</a></li>
  <li><a href="#">Suggestions</a></li>
  <li><a href="#">Contact</a></li>
</ul>

<h1>How it works?</h1>
<div class="row main-links">
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Sign up</h5>
    </div>
    <img src="https://static.pexels.com/photos/493091/pexels-photo-493091.jpeg">
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Add tasks</h5>
    </div>
    <img src="https://static.pexels.com/photos/3299/postit-scrabble-to-do.jpg">
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Get private responses.</h5>
    </div>
    <img src="https://static.pexels.com/photos/159453/woman-helmet-work-electrician-159453.jpeg">
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Pick your help.</h5>
    </div>
    <img src="https://static.pexels.com/photos/2371/person-looking-searching-clean.jpg">
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Pay cash </h5>
    </div>
    <img src="https://static.pexels.com/photos/164527/pexels-photo-164527.jpeg">
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Job Well Done</h5>
    </div>
    <img src="https://static.pexels.com/photos/225236/pexels-photo-225236.jpeg">
  </div>
</div>

<!-- https://www.pexels.com/photo/high-angle-view-of-multi-colored-marshmallows-325526/ -->
