/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 *= require foundation_and_overrides

 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "settings";
@import "foundation";
.button:hover,
.button:focus {
  background-color: darken(#152B3C, 15%);
}

body {
  background-image:url("https://s3.amazonaws.com/job-well-done-production/skulls.png");
}
 h3
   {
   color: #030D4F;
    font-family: 'Special Elite', cursive;
  }
  .wrapper {

      text-align: center;
      position: absolute;
      top: 40%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 // 'Shrikhand', cursive;
 // .fa-users {
 //   color: #BF0C43
 // }
 // .fa-handshake-o {
 //   color: #F9BA15
 // }
 // .fa-thumbs-o-up {
 //   color: #8EAC00
 // }

 $menu-hover-lines-transition: all 0.35s ease;
 $menu-hover-lines-border-width: 3px;

 .menu-hover-lines {
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   transition: $menu-hover-lines-transition;

   li a {
     padding: 0.75rem 0;
     color: rgba(#030D4F, 0.5);
     position: relative;
     margin-left: 1rem;
   }

   li:first-child a {
     margin-left: 0;
   }

   li.active > a {
     background-color: transparent;
   }

   a:before,
   a::after {
     height: $menu-hover-lines-border-width;
     position: absolute;
     content: '';
     transition: $menu-hover-lines-transition;
     background-color: #030D4F;
     width: 0;
   }

   a::before {
     top: 0;
     left: 0;
   }

   a::after {
     bottom: 0;
     right: 0;
   }

   a:hover,
   li.active > a {
     color: #030D4F;
     transition: $menu-hover-lines-transition;
   }

   a:hover::before,
   .active a::before,
   a:hover::after,
   .active a::after {
     width: 100%;
   }
 }

 $button-group-option-font-size: 1rem; // controls size of circle and text of option
 $button-group-option-button-gap: 0.35rem;
 $button-group-option-button-fontsize: rem-calc(18); // controls size of button and text of button

 .button-group-option {
   position: relative;
   align-items: center;
   width: 100%;
 }

 $gray: #808080;
 $white: #fff;
 $highlight: #E32D40;
 $nav-text-color: $gray;
 $header-font: 'Special Elite', cursive;
 $vert-seperate: 4rem;


   .main-links {
     padding-top: $vert-seperate;
     margin-bottom: $vert-seperate;

     h5 {
       font-family: $header-font;
       color: #030D4F;
       @media screen and (max-width: 39.9375em) {
         font-size: 1.5rem;
       }
     }

     .columns {
       position: relative;
     }

     .title-box {
       text-align: center;
       background: white;
       color: $highlight;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       padding: .2rem 1rem;

       .title-box-title {
         margin-bottom: 0;

        &:hover {
          color: darken($highlight, 25%);
          transition: color .3s ease-in;
        }
       }
     }
       @media screen and (max-width: 39.9375em) {
        img {
          height: 250px;
          display: block;
          margin: 2rem auto;
        }
     }
   }

   $hero-height: 60vh;

.hero-section {
  background: image-url('https://s3.amazonaws.com/job-well-done-production/work.jpeg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: #E9F2F9;
    text-shadow: 1px 1px 2px $black;
  }
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #152B3C;

  h4 {
    color: #E32D40;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase
  }

  label {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input {
    color: #152B3C;
  }

  input:focus {
    opacity: .8;
  }
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }
}

$travel-feature-card-header-font-color: #152B3C;
$travel-feature-card-body-color: $dark-gray;
$travel-feature-card-header-background-color: #56524b;

.travel-feature-card-header {
  margin-top: 30px;
  background-color: $travel-feature-card-header-background-color;
  padding: 10px 15px 5px 45px;
  position: relative;

  @include breakpoint(small) {
    margin-top: 15px;
  }

  &.icon:after {
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
  }

  &.hotel-icon:after {
    content: "\f236";
  }

  &.car-icon:after {
    content: "\f1b9"
  }

  .travel-feature-card-subtitle {
    float: left;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
  }
}

.travel-feature-card-header-controls {
  a {
    color: $white;
  }
  i {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
}

.travel-feature-card-image {
  margin-top: 5px;
}

.travel-feature-card-details{
  background: #f0f0f0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  color: $travel-feature-card-body-color;

  button.added-button {
    color: #505050;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 0.8em;

    img {
      margin-right: 5px;
    }
  }

  button.added-button:hover {
    color: lighten(#505050, 0%);
    border: 1px solid #747474;
  }

  button.add-button {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 0.8em;
  }
}

.travel-feature-card-content {
  @include breakpoint(small only) {
    padding-bottom: 15px;
    border-bottom: 1px solid $medium-gray;
  }
}
.travel-feature-card-price {
  text-align: right;

  @include breakpoint(small only) {
    padding-top: 15px;

    .price-subtext {
      margin-bottom: 0px;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 1.3em;
    color: $travel-feature-card-header-font-color;
    padding: 0;
    margin: 0;
  }
}

.travel-feature-card-title {
  font-weight: 500;
  font-size: 1.25em;
  color: $travel-feature-card-header-font-color;
}

.travel-feature-card-date-range {
  font-size: 0.9em;
  font-weight: 700;
  color: $travel-feature-card-header-font-color;
}

.travel-feature-card-header-controls {
  float: right;
  i {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
}
